<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>space.tinrelay.radio</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/USER/.local/bin/tinrelay</string>
    <string>--ship</string>
    <string>SHIP</string>
    <string>radio</string>
    <string>collect</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/USER/Library/Logs/tinrelay-radio.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/USER/Library/Logs/tinrelay-radio.error.log</string>
</dict>
</plist>
